/*@charset "utf-8";*/
/* CSS Document */ 
/** 
* MANGOUI组件 
* By vjoo
 */
* {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
* {
    -webkit-overflow-scrolling: touch;/**让H5滚动流畅**/
    -webkit-tap-highlight-color: transparent;
}
body, input, textarea, button, select {
    font-family: Helvetica, STHeiti STXihei, Microsoft YaHei, Arial;
    font-size: 14px;outline:none;
    background-color: #fff;/*    min-width: 320px;*/
}

body{margin: 0 auto;}/**屏幕最小320px，当屏幕分辨率超过1280px电脑显示器时，最大显示750px，ipad1024x768不受影响**/
/*
@media screen and (min-width:1280px){
body{max-width: 750px;margin: 0 auto;}
}
*/
.weui-textarea{background-color:white;}


li, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #3d4145;
}
img {
    width: 100%;
    height: auto;
    display: block;
    border: 0px;
    vertical-align: middle;
}
::-webkit-scrollbar {
 width: 0;
 height: 0;/**隐藏移动端滚动条**/
 background-color:transparent;
 display:none;	
}
.weui-toast{font-size: 16px;}
.weui-cell_access:active {
    background-color: transparent
}
.clearfix {
    clear: both
}
.image-center {
    border-radius: 4px;
}
/**轮播diy**/
.swiper-pagination-bullet {
    width: 10px;
    height: 2px;
    display: inline-block;
    border-radius: 0;
    background: #fba414;
    opacity: .2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fba414;
}
.placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #e9e9e9;
    text-align: center;
    color: #fff;
}
/**一行图标**/ 
.iconlist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 14px 10px;
    background-color: transparent;
    text-align: center
}
.iconlist .list {
    flex: 1;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.iconlist .list .imgk {
    width: 70%;
}
.iconlist .list .imgk.yuan {
    border-radius: 100%;
}
.iconlist .list .text {
    font-size: 14px;
    margin: 6px 0px 2px 0px;
    color: #3d4145;
    /**自适应超出隐藏文字**/
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    clear: both;
}
/**广告图**/ 
.banneron {
    margin: 10px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
}
.banneron img {
    width: 100%;
    border: 0;
    display: block;
}
/**公告**/
.bob-es {
    margin: 10px;
    padding: 0px;
    background-color: transparent;
}
.bob-express-news {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
}
.bob-express-news .bob-news-tit {
    width: 82px;
    height: 30px;
    display: block;
    position: absolute
}
.bob-express-news .bob-news-tit span {
    background-color: #ffc500;
    padding: 1px 4px;
    margin: 0px 4px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.bob-express-news .sy-news-list-wrapper {
    padding: 0 15px 0 83px;
    height: 30px;
    overflow: hidden;
}
.sy-news-list {
    position: relative;
}
.bob-express-news .news-item {
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sy-news-list {
    position: relative;
    animation: moveUp 12s 0.6s infinite;
    -webkit-animation: moveUp 12s 0.6s infinite;
}
 @keyframes moveUp {
0% {
top:0px;
}
18% {
top:0px;
}
20% {
top:-30px;
}
38% {
top:-30px;
}
40% {
top:-60px;
}
58% {
top:-60px;
}
60% {
top:-90px;
}
78% {
top:-90px;
}
80% {
top:-120px;
}
98% {
top:-120px;
}
}
@-webkit-keyframes moveUp /*Safari and Chrome*/ {
0% {
top:0px;
}
18% {
top:0px;
}
20% {
top:-30px;
}
38% {
top:-30px;
}
40% {
top:-60px;
}
58% {
top:-60px;
}
60% {
top:-90px;
}
78% {
top:-90px;
}
80% {
top:-120px;
}
98% {
top:-120px;
}
}
/**一行2个**/ 
.gezi2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 8px;
    padding: 0px;
    background-color: transparent;
    box-sizing: border-box;
}
.gezi2 .list {
    width: 50%;
    box-sizing: border-box;
    padding: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gezi2 .list .imgk {
    width: 100%;
}
/**一行3个**/ 
.gezi3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 8px;
    padding: 0px;
    background-color: transparent;
    box-sizing: border-box;
}
.gezi3 .list {
    width: 33.333%;
    box-sizing: border-box;
    padding: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gezi3 .list .imgk {
    width: 100%;
}
/***复杂组件**/
.superli .hr_shop_viip {
    margin: 10px;
    padding: 0px;
    background-color: transparent;
}
.superli .hr_shop_viip .djis .hrzz {
    font-weight: 800;
    color: #000;
}
.superli .hr_shop_viip .hrjs {
    width: 100%;
    vertical-align: top;
}
.superli .hr_shop_viip .hrbgj {
    background-color: #fff;
}
.hr_shop_viip table {
    background-color: #fff
}
/***导航**/
.daohhh {
    z-index: 9999
}
.daohhh .weui-tabbar.fx {
    position: fixed;
    background-color: hsla(0,0%,100%,.95);
    height: 56px;
	left: 0;right: 0;width: 100%;
}
.daohhh .weui-badge {
    padding: .11em .4em;
}
.daohhh .weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #00c18f;
}
.daohhh .weui-tabbar__label {
    text-align: center;
    color: #999;
    font-size: 11px;
    line-height: 1.8;
}
.daohhh .weui-tabbar__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 3px 0px;
}
.daohhh .weui-badge {
    line-height: 1.1;
}
/***刷新**/
.weui-loadmore {
    width: 100%;
    margin: 10px auto;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
}
.weui-loading {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: 0;
    animation: 0;
    background: transparent url( "../images/img/index.orbit-balls-loading-gif.gif") no-repeat;
    background-size: 100%;
}
.weui-loadmore__tips {
    font-size: 12px;
    color: #ccc;
    margin-top: -8px;
}
/**商品列表**/
.bghui {
    background-color: #f6f6f6;
}
.pjpj {
    padding: 10px;
}
.weui-row.pjpj {
    margin: 10px;
    padding: 0px
}
.boximgsizing {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}
.jpicon {
    padding: 2px 6px 6px 6px;
    position: relative;
}
.jpicon, .jpicon a {
    font-size: 12px;
    color: #999;
}
.qieimg {
    background-color: #fff;
}
.pjpj.weui-row .weui-col-50 {
    margin: 2px 0px 6px 0px;
    width: 50%;
 width: calc((100% - 4px*1)/ 2);
    background-color: #fff;
}
.pjpj [class*="weui-col-"] {
    border: 0px;
    text-align: center;
}
.weui-col-50 a {
    color: #2b3041;
    display: block;
}
.bqbq {
    border-radius: 3px;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    text-align: left;
    padding: 0px 6px;
    margin-top: 3px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    right: 6px;
}
.deltx {
    text-decoration: line-through
}
.quan.bqbq {
    background: #f76260;
}
.wd100 .quan.bqbq {
    font-size: 12px
}
.msq.bqbq {
    background: #09bb07;
    padding: 2px 8px;
    font-size: 14px;
    margin-top: -3px
}
.quan.bqbq-z {
    background: #f76260;
}
.jpicon .fl.bqbq-z {
    border-radius: 3px;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    text-align: left;
    padding: 0px 6px;
    margin-top: -4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.jpicon .fl {
    float: left;
    color: #E00003;
    font-size: 14px;
    margin-right: 10px;
}
.jpicon .fl .hzw {
    color: #232326;
    font-style: normal;
    font-weight: 700;
}
.jpicons {
    font-size: 12px;
    padding: 0px;
    line-height: 12px;
    margin-top: 6px;
}
.fl.sh, .sh {
    font-size: 12px;
    color: #999;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.similar-product-text {
    box-sizing: border-box;
    text-align: left;
    height: 29px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    color: #232326;
    margin-top: 5px;
    line-height: 15px;
    margin-bottom: 3px;
    padding: 0 4px;
    clear: both;
}
.similar-product .chosen {
    width: auto;
    height: 13px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 2px;
    margin-right: 2px;
    line-height: 0px;
}
.similar-product img {
    width: 100%;
    display: block;
    border: 0 none;
    vertical-align: top;
}
/**列表加筛选价格**/
.stxz.xiansi {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.stxz {
    background-color: #fff;
    color: #333;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    padding: 8px 0px 8px 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: none;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}
.stxz span input {
    border: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    width: 40px;
    padding: 0px 4px;
    -webkit-appearance: none;
    border-radius: 0px;
    box-shadow: 0 0 0;
}
.stxz span {
    display: block;
}
.stxz span.ya {
    background-color: #f9f9f9;
    height: 30px;
    border: 1px solid #eeeeee;
    border-left: 0px;
    text-align: center;
    line-height: 28px;
    width: 30px;
    color: #ababab
}
.stxz .inmg {
    margin: 0px 5px;
    color: #ababab
}
.stxz a.qd {
    background-color: #e3544c;
    padding: 0px 8px;
    margin: 0px 4px 0px 10px;
    color: #fff;
    line-height: 30px;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.stxz a.qk {
    padding: 0px 6px;
    margin: 0px 0px 0px 10px;
    color: #328fd0;
    line-height: 30px;
    border-radius: 2px;
    display: block;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.stxz .jg {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/**滚动分类组件**/ 
.hots-bar {
    line-height: 48px;
    font-size: 14px;
    /* border-bottom: 1px solid #fff; */
    z-index: 2;
}
.hots-bar, .hots-wp {
    /* height: 2.4375rem; */
    position: relative;
}
.more-wp .block, .more-wp .close, .pullup-wp, .hots-bar, .widget .info {
    text-align: center;
    font-size: 14px;
}
.hots-wp {
    margin-right: 55px;
    margin-left: 55px;
    background-color: #fff;
    color: #333;
}
.hots-wp .hot.active {
    color: #383838;
    font-weight: 700;
}
.reward-list a, a, a:active {
    text-decoration: none;
}
.hots-wp .hot-all.active:before {
    left: 30%;
    right: 30%;
}
.hots-wp .active:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ffb70f;
    left: 7px;
    bottom: 5px;
    right: 7px;
}
.hots-wp .hot-all:after, .hots-wp .hot-more:after {
    /* position: absolute; */
	/* right: -.625rem; */
	/* top: 0; */
	/* bottom: 0; */
	/* width: .625rem; */
	/* border-radius: 0 100% 100%0/0 50% 50% 0; */
    background-image: -wekbit-radial-gradient(ellipse at left, rgba(0,0,0,.2) 0, rgba(0,0,0,0) 55%);/* background-image: radial-gradient(ellipse at left, rgba(0,0,0,.2) 0, rgba(0,0,0,0) 55%); */
}
.clearfix:after, .fixed-bottom .guid:after, .more-wp .block-links:before, .more-wp .close:after, .hots-wp .hot-all:after, .hots-wp .hot-more:after, .hots-wp .hot-more:before, .widget .search:after, .widget .text-title:before, .widget .zdq-next:after {
    content: "";
}
.hots-wp .hots-cnt {
    height: 100%;
    overflow: hidden;
    z-index: 2;
    background: #fff;
}
.hots-wp .hots-bd {
    white-space: nowrap;
    height: 100%;
    overflow-y: hidden;
}
.hots-wp .hot {
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    height: 100%;
    position: relative;
}
.reward-list a, a, a:active {
    text-decoration: none;
}
.clearfix:after {
    display: hotle;
    clear: both;
}
.hots-wp .hots-bd a {
    color: #696969
}
.hots-wp .hot-all, .hots-wp .hot-more {
    padding: 0;
    top: 0;
    width: 56px;
    position: absolute;
    left: -55px;
    background: #fff;
    z-index: 2;
}
.hots-wp .hot-more {
    right: -55px;
    left: auto;
    width: 56px;
    background: #fff;
}
.hots-wp .hot-more-open:before {
    -webkit-transform: rotate(180deg);
}
.hots-wp .hot-more:before {
    display: inline-block;
    width: 39%;
    height: 25%;
    margin: 30%;
    transition: -webkit-transform .4s;
    -webkit-transition: -webkit-transform .4s;
    pointer-events: none;
    background: url("../images/img/xz.png");
    -webkit-background-size: contain;
    background-repeat: no-repeat;
}
.hots-wp .hot-more:after {
    left: -.120rem;
    right: auto;
    border-radius: 100% 0 0 100%/50% 0 0 50%;
    background-image: -wekbit-radial-gradient(ellipse at right, rgba(0,0,0,.2) 0, rgba(0,0,0,0) 55%);
    background-image: radial-gradient(ellipse at right, rgba(0,0,0,.2) 0, rgba(0,0,0,0) 55%);
}
.hots-wp .hot-all:after, .hots-wp .hot-more:after {
    /* position: absolute; */
	/* right: -.625rem; */
	/* top: 0; */
	/* bottom: 0; */
	/* width: .625rem; */
	/* border-radius: 0 100% 100%0/0 50% 50% 0; */
    background-image: -wekbit-radial-gradient(ellipse at left, rgba(0,0,0,.2) 0, rgba(0,0,0,0) 55%);/* background-image: radial-gradient(ellipse at left, rgba(0,0,0,.2) 0, rgba(0,0,0,0) 55%); */
}
/*黑色蒙版*/
.aliapp .more-wp {
    top: 40px;
}
.more-wp {
    position: relative;
    left: 0;
    height: 100%;
    color: #fff;
    z-index: 1;
    font-size: 1rem;
    top: 85px;
    /*
	-webkit-transform: translateY(-150%) translateZ(0);
	-webkit-transition: -webkit-transform .4s ease-in 0s; 
	
*/
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
}
.more-wp-open {
    /*
	-webkit-transform: translateY(0) translateZ(0);
	-webkit-transition: -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.1) 0s;
*/
    opacity: 1;
}
.more-wp, .more-wp .more-bd {
    width: 100%;
}
.fixed-bottom, .more-wp {
    -webkit-transform-origin: 0 0 0;
}
.more-wp .mask {
    top: -20%;
    background: rgba(0,0,0,0.85);
    opacity: .85;
    z-index: 0;
}
.more-wp .mask, .more-wp .more-cnt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.block-group a {
    color: #fff
}
.more-wp .more-cnt {
    top: 0;
}
.more-wp .mask, .more-wp .more-cnt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.more-wp-open .more-wp .mask, .more-wp-open .more-wp .more-cnt {
    z-index: 999;
}
.more-wp.more-wp-open {
    position: fixed
}
.more-wp .block {
    position: relative;
    line-height: 1.5;
    padding: 10px 28px;
    display: block;
}
.more-wp .block, .more-wp .close, .pullup-wp, .hots-bar, .widget .info {
    text-align: center;
}
.more-wp .block-group {
    display: block;
    /* display: -webkit-box; */
    display: box;
    /* display: -webkit-flex; */
	/* display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; */
    width: 100%;
    text-align: left;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}
* {
    -webkit-overflow-scrolling: touch;/**让H5滚动流畅**/
    -webkit-tap-highlight-color: transparent;
}
.more-wp .btn:first-child, .more-wp .hot:first-child {
/* margin-left: 0; */
}
.more-wp .btn, .more-wp .hot {
    display: inline-block;
    /* max-width: 5.1875rem; */
    margin: 10px 8px;
    padding: 4px;
    /* white-space: nowrap; */
	/* -webkit-box-flex: 1; */
    box-flex: 1;/* -webkit-flex: 1; *//* flex: 1; */
}
.reward-list a, a, a:active {
    text-decoration: none;
}
.more-wp .close {
    position: relative;
    left: 0;
    right: 0;
    display: inline-block;
    width: 33px;
    margin: 0 auto;
    height: 33px;
    padding-bottom: 20px;
    box-sizing: content-box;
    margin-top: 10px;
}
.xs-cnt {
    text-align: center
}
.more-wp .close:after {
    display: block;
    width: 80%;
    height: 80%;
    background: url("../images/img/xxx.png")center center no-repeat;
    -webkit-background-size: contain;
}
/**滚动导航**/

 
/**搜索**/

.superli .custom-search {
    padding: 10px;
}
.superli .custom-search form {
    margin: 0;
    position: relative;
    border: 1px solid #c0c0c0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.superli .custom-search input[disabled] {
    cursor: default;
    background-color: transparent;
}
.superli .custom-search.custom-search-style-A form input[type="text"] {
    margin: 0;
    padding: 0 40px 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px none;
    outline: none;
    font-size: 14px;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}
.superli .custom-search.custom-search-style-A form input[type="button"], .superli .custom-search.custom-search-style-A form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    border: 0px none;
    height: 35px;
    line-height: 35px;
    width: 37px;
    padding: 0;
    color: #fff;
    font-size: 14px;
    text-indent: -9999px;
    background: #fff url("../images/img/search_icon.png") center center no-repeat;
    background-size: 16px 16px;
    border-radius: 4px;
}
.superli .custom-search.custom-search-style-B form {
    margin: 0;
    position: relative;
    border: 1px solid #FF2F00;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.superli .custom-search.custom-search-style-B form input[type="text"] {
    margin: 0;
    padding: 0 40px 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px none;
    outline: none;
    font-size: 14px;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}
.superli .custom-search.custom-search-style-B form input[type="button"], .superli .custom-search.custom-search-style-B form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    border: 0px none;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    color: #fff;
    font-size: 14px;
    background: #FF2F00;
    background-size: 16px 16px;
    border-radius: 0px;
}
.superli .custom-search.border-radius-none form, .superli .custom-search.border-radius-none.custom-search-style-A form, .superli .custom-search.border-radius-none.custom-search-style-B form {
    border-radius: 0px;
}
.superli .custom-search form {
    margin: 0;
    position: relative;
    border: 1px solid #ffffff;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.superli .custom-search.custom-search-style-A form input[type="button"], .superli .custom-search.custom-search-style-A form input[type="submit"] {
    border-radius: 0px;
    background-color: #efeff4;
}
.ssnav {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    display: none
}
.ssnav.on {
    display: block
}
.ssnav li {
    float: left
}
.ssnav li.w {
    width: 86%;
}
.ssnav li.qx {
    width: 12%;
    float: right
}
.ssnav .qx {
    background-color: #fff;
    line-height: 35px;
    text-align: center
}
.ssnav .kknab {
    padding: 4px 10px 10px 10px;
}
.ssnav .kknab .title {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
}
.ssnav .kknab button {
    font-size: 12px;
    color: #666;
    background-color: #f5f5f5;
    padding: 6px 15px;
    border: 0px;
    border-radius: 100px;
    margin: 0px 5px 12px 0px;
}
.ssnav .qc {
    float: right;
    padding: 0 10px;
}
.ssnav .qc img {
    width: 20px;
}
.ssnav .cxdw {
    color: #05acff;
    float: right;
    padding: 0 10px;
}
.ssnav .dwicon {
    width: 22px;
    height: 22px;
    float: left
}
/*搜索*/





/*排序*/
.superli .custom-paixu-A {
    background: #ffffff;
    border-bottom: 1px solid #eee;
    height: 44px;
    width: 100%;
}
.superli .custom-paixu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.superli .custom-paixu a {
    font-size: 14px;
    width: 200px;
    height: 43px;
    line-height: 43px;
    padding-bottom: 3px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.superli .custom-paixu a, .custom-paixu a:visited {
    text-decoration: none;
    color: #333;
}
.superli .custom-paixu a {
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
}
.superli .custom-paixu .on {
    color: #e33b3d;
    padding-bottom: 0;
    z-index: 0;
}
.superli .custom-paixu .icon_sort {
    background-image: url(../images/img/paixu-n.png);
    width: 8px;
    height: 12px;
    display: inline-block;
    background-size: 8px 12px;
    -webkit-background-size: 8px 12px;
    overflow: hidden;
    margin-left: 5px;
}
.superli .custom-paixu .on .icon_sort {
    vertical-align: -2px;
    background-image: url(../images/img/paixu-a.png);
}
.superli .custom-paixu .on.state_switch .icon_sort {
    background-image: url(../images/img/paixu-a.png);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    vertical-align: -2px;
}
.superli .icon_sort_single {
    background-image: url(../images/img/paixu-xia.png);
    width: 8px;
    height: 9px;
    display: inline-block;
    background-size: 8px 9px;
    -webkit-background-size: 8px 9px;
    overflow: hidden;
    margin-left: 3px;
}
.superli .custom-paixu .on .icon_sort_single {
    background-image: url(../images/img/paixu-xia-a.png);
}
/*排序*/


/**标题**/

.title-sy {
    width: 100%;
    background-color: #fff;
    color: #2b3041;
    text-align: center;
    padding: 8px 15px 2px 15px;
    line-height: 20px; /*    border-bottom: 1px solid #eee;*/
}
.title-sy .ti-b {
    font-size: 14px;
    font-weight: 700
}
.title-sy .ti-s {
    font-size: 12px;
    color: #999;
}
.title-sy span {
    margin: 0px 6px 0px 0px;
}
.title-sy-two {
    padding: 8px 0px;
    margin: 0px auto;
    background-color: transparent;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #FF0707;
    font-size: 12px;
    line-height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.title-sy-two .ti-color {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 5%
}
.title-sy-two .lline, .title-sy-two .rline {
    width: 50px;
    height: 1px;
    background-color: #ddd
}
/**横向滑动**/
.custom-switch {
    padding: 10px 0px;
}
.swiper-wrapper .bqbq {
    position: absolute;
    right: 0px;
}
.swiper-wrapper .similar-product-text {
    padding: 0px;
}
.swiper-wrapper .jpicon {
    padding: 2px 0px 6px 3px;
}
.jpicon .fl.f12 {
    font-size: 12px;
}
.js-mgo-coupon-price {
    background-color: #fff0f0;
    color: #E00003 !important;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0px 8px;
    text-align: center;
    border-radius: 10px;
}
/**券形式**/
.quan-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;/*设为伸缩容器*/
    flex-flow: row;/*伸缩项目单行排列*/
    margin: 10px;
    padding: 0px;
    background-color: transparent;
}
.quan-stable {
    width: 80px;/*固定宽度*/
    background-color: #FDDE84;
    text-align: center;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
}
.quan-change {
    flex: 1;/*这里设置为占比1，填充满剩余空间*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f84623+0,d8372c+100 */
    background: rgb(248,70,35); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(248,70,35,1) 0%, rgba(216,55,44,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(248,70,35,1) 0%, rgba(216,55,44,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(248,70,35,1) 0%, rgba(216,55,44,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f84623', endColorstr='#d8372c', GradientType=1 ); /* IE6-9 */
    border-radius: 0px 8px 8px 0px;
    padding: 8px;
    color: #fff;
}
.quan-change .quan-parent-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;/*设为伸缩容器*/
    flex-flow: row;/*伸缩项目单行排列*/
}
.quan-stable span {
    font-size: 24px;
    color: #936223;
    margin-top: 5px;
    display: block
}
.quan-stable span i {
    font-size: 10px;
    font-style: normal;
    margin-left: 1px;
}
.quan-stable p {
    font-size: 10px;
    color: #936223
}
.quan-change .lh {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    line-height: 16px;
    margin-right: 5px;
    font-size: 14px;
    height: 30px;
}
.quan-change .tup {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    background-color: #fff;
}
.quan-change .tup img {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    background-color: #fff;
}
.quan-change-b .btn {
    float: left;
    background-color: #FDDE84;
    height: 24px;
    line-height: 24px;
    border-radius: 50px;
    color: #936223;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 6px;
    padding: 0px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.quan-change-b .btn:last-of-type {
    margin-right: 0px;
}
.quan-change .quan-change-b {
    flex: 1;
}
/**限时抢购组件**/


.xsyo {
    padding: 10px 0px;
    background-color: #f1f1f1;
    margin: 10px 0px 0px 0px;
}
.xsyo-b {
    padding: 10px 0px;
    background-color: #f1f1f1;
    margin: 10px 0px 0px 0px;
}
.rush-pd-module.slide {
/*    padding-bottom: 1px;*/
}
.rush-pd-module {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}
.rush-pd-module .rush-pd-tab {
    position: relative;
    width: 100%;
}
.rush-pd-module .rush-pd-tab .rush-pd-nav-wrap {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.rush-pd-module .rush-pd-nav-wrap ul {
    font-size: 0;
    line-height: 0;
    height: 100%;
}
.rush-pd-module .rush-pd-tab .rush-pd-nav-wrap a {
    display: block;
    flex: 1;
    padding: 10px 0px;
}
.rush-pd-module .rush-pd-nav-wrap a {
    display: inline-block;
    position: relative;
    height: 100%;
    text-align: center;
}
.rush-pd-module .rush-pd-nav-wrap a .tab-text-one {
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #999;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    clear: both;
}
.rush-pd-module .rush-pd-tab .rush-pd-nav-wrap .cur span {
    color: #f02b2b;
}
.rush-pd-module .rush-pd-nav-wrap a .tab-text-two {
    display: block;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    color: #111;
    margin: 0 10px;
    overflow: hidden;
    word-break: break-all;
}
.rush-pd-module .rush-pd-tab .rush-pd-nav-wrap .cur span {
    color: #fff;
}
.rush-pd-module a.cur {
    background-color: #f84623
}
.rush-pd-module a p {
    display: none;
    position: absolute;
    bottom: -9px;
    left: 0;
    z-index: 3;
    right: 0;
}
.rush-pd-module a p img {
    text-align: center;
    margin: 0 auto;
    width: 20px;
}
.rush-pd-module a.cur p {
    display: block;
}
/**横排商品组件**/
.wd100 {
    width: 100%
}
.hxbj-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;/*设为伸缩容器*/
    flex-flow: row;/*伸缩项目单行排列*/
}
.hxbj-change {
    flex: 1;
}
.hxbj-stable img {
    width: 100px;
    border-radius: 6px;
    background-color: #fff
}
.hxbj-change .jpicon {
    margin-top: 23px;
    padding: 0px 6px
}
.qieimg.hxbj-stable {
    margin-right: 6px
}
.hxbj:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #e5e5e5;/*    z-index: 2;*/
}
.hxbj:after {
    bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
a.hxbj {
    display: block;
    position: relative;
    padding: 5px 0px 10px 0px;
}
.wd100>a.hxbj:last-of-type::after {
    border-bottom: 0px;
}
/**回到顶部**/

div#back-to-top {
    position: fixed;
    display: none;
    bottom: 146px;
    right: 20px;
    z-index: 11;
}
div#back-to-top a {
    background-color: #fff;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
/**回到个人中心**/
div#back-to-pal {
    position: fixed;
    display: block;
    bottom: 100px;
    right: 20px;
    z-index: 11;
}
div#back-to-pal a {
    background-color: #fff;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
div#back-to-pal a, div#back-to-top a {
    display: block;
    width: 45px;
    height: 45px
}
/**超级菜单**/
				
.supermenu {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
.supermenu-nav {
    height: 100%;
    overflow: hidden;
    line-height: 48px;
    position: relative;
}
.supermenu-text {
    white-space: nowrap;
    height: 100%;
    overflow-y: hidden;
    text-align: left
}
.supermenu-text a {
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    height: 100%;
    position: relative;
    color: #696969;
}
.supermenu-text a.active:before, .left-btn.active:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ffb70f;
    bottom: 5px;
    left: 30%;
    right: 30%
}
.supermenu-text a.active, .left-btn.active {
    color: #383838;
    font-weight: 700;
}
.left-btn {
    padding: 0;
    top: 0;
    width: 52px;
    position: absolute;
    left: 0px;
    display: inline-block;
    height: 100%;
    text-align: center
}
.right-btn {
    padding: 0;
    top: 0;
    width: 52px;
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 100%;
    text-align: center;
}
.right-btn:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    pointer-events: none;
    background: url(../images/img/xxxz.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 8px;
    right: 10px;
}
.supermenu-text a:first-child {
    margin-left: 10px;
}
.vp1 .supermenu-text a:first-child {
    margin-left: 0px;
}
.vp1 .supermenu-text {
    margin-right: 52px;
    margin-left: 52px;
}
.supermenu-nav .left-btn, .supermenu-nav .right-btn {
    display: none
}
.supermenu-nav.vp1 .left-btn, .supermenu-nav.vp1 .right-btn {
    display: block;
    z-index: 10;
}
.supermenu-mask, .supermenu-window {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
.supermenu-window {
    display: none
}
.supermenu-mask {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}
.supopen .supermenu-window {
    display: block;
}
.supopen .supermenu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%
}
.supopen .supermenu-window .supermenu-mask {
    opacity: 1;
    visibility: visible;
}
.spiconlist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
.spiconlist .splist {
    width: 25%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}
.spiconlist .splist .spimgk {
    width: 70%;
}
.spiconlist .splist .spimgk.yuan {
    border-radius: 100%;
}
.spiconlist .splist .text {
    font-size: 14px;
    margin: 6px 0px 2px 0px;
    color: #3d4145;
    /**自适应超出隐藏文字**/
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    clear: both;
}
.supermenu-window .shuchu {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    top: 48px;
    padding: 10px 0px 20px 0px;
    max-height: 412px;
    overflow: auto
}
.supermenu-window .spiconlist .spimgk {
    display: none
}
.supermenu-window.sp1 .spiconlist .spimgk {
    display: block;
}
.supermenu-window.sp1 .shuchu {
    width: 100%;
    background-color: #fff;
    position: relative;
    top: 48px;
    padding: 10px 0px 20px 0px;
    max-height: 412px;
    overflow: auto
}
/**横滑限时购组件**/

.supertime {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}
.supertime-nav {
    height: 100%;
    overflow: hidden;
    line-height: 30px;
    position: relative;
}
.supertime-text {
    white-space: nowrap;
    height: 100%;
    overflow-y: hidden;
    text-align: left;
}
.supertime-text a {
    padding: 10px 10px;
    display: inline-block;
    height: 100%;
    position: relative;
}
.supertime-text a.cur {
    background-color: #f84623;
}
.supertime-text a.cur span {
    color: #fff;
}
.supertime-text a .tab-text-two {
    display: block;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    color: #111;
    margin: 0 10px;
    overflow: hidden;
    word-break: break-all;
}
.supertime-text a .tab-text-one {
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #999;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    clear: both;
}
/**标题组件带跳转**/
.title-sy-tree {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*    width: 100%;*/
    align-items: center;
    background-color: transparent;
    padding: 5px 10px;
}
.title-sy-tree .ftz {
    font-size: 17px;
    font-weight: 700;
}
.title-sy-tree .sj {
    display: inline-block;
    position: relative;
    width: 5px;
    margin-left: 6px;
}
.title-sy-tree a {
    color: #696969
}
/**一行三个商品**/
.supermall33 {
    padding: 10px;
}
.supermall33 .boximgsizing {
    position: relative
}
.supermall33 .boximgsizing .bqbq {
    bottom: 4px;
    left: 4px;
    right: inherit
}
.supermall33 .jpicon .fl.deltx.sh {
    display: none
}
.supermall33 .jpicons {
    margin-top: 2px;
}
.supermall33.weui-row .weui-col-33 {
width: calc((100% - 10px*2)/ 3);
}
/**分类组件**/
.supersorting {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
}
.leftsorting {
    width: 90px;
    text-align: center;
    flex: 0 0 auto;/**左固定有自适应**/
    background-color: #f6f6f6;
}
.rightsorting {
    flex: 1 1 auto;/**左固定有自适应**/
    background-color: #fff;
}
.leftsorting, .rightsorting {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;/**高自适应滚动**/
}
.leftsorting .flwp {
    background-color: #f6f6f6;
}
.leftsorting a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 13px;
    color: #4e4e4e;
    padding: 0px 11px;
    /*    border-bottom: 1px solid #f1f1f1;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.leftsorting a:last-of-type {
    border-bottom: 0px;
}
.leftsorting .flwp.acon {
    color: #2e2d2d;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    position: relative;
}
.leftsorting a.flwp.acon:before {
    content: "";
    line-height: 10px;
    background-color: #f0250f;
    height: 16px;
    width: 4px;
    position: absolute;
    left: 0;
    top: 17px;
    bottom: 0;
}
/**bannerdiy**/
.deru .swiper-slide {
    padding: 100px 20px 0px 20px;
}
.deru.swiper-wrapper a {
    z-index: 3;
}
.deru.swiper-wrapper a:after {
    content: "";
    background-color: #fff;
    bottom: 0px;
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 100% 100% 0px 0px;
    display: block;
    background-size: contain
}
.deru .swiper-slide img {
    border-radius: 6px;
    z-index: 1;
    position: inherit;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
}
.diybanermenu {
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 47px;
}
.diybanermenu .supermenu {
    background-color: transparent
}
.diybanermenu .supermenu-text a {
    color: #fff
}
.diybanermenu .supermenu-text a.active:before, .diybanermenu .left-btn.active:before {
    content: "";
    position: absolute;
    height: 2px;
    background: #fff;
    bottom: 4px;
    left: 30%;
    right: 30%;
}
.tebd {
    width: 100%;
    position: absolute;
    z-index: 10
}
.tebd .superwork-input-field {
    padding-left: 18px;
}
.tebd .superwork-input.ts {
    z-index: 3;
    width: 100%;
    padding: 5px 20px 2px 20px;background-color: transparent;
}
.superwork-input.ts .superwork-input-field {
    border-radius: 50px 0px 0px 50px;
}
.superwork-input.ts .yty-search, .superwork-input.ts .superwork-input-item.ass {
    border-radius: 0px 50px 50px 0px;
}
.tebd .superwork-input .yty-search {
    display: block;
    border: 0px none;
    height: 38px;
    line-height: 38px;
    width: 44px;
}
.tebd .superwork-input-item.ass {
    width: 44px;
    padding: 0px;
}
.tebd .superwork-input {
    padding: 10px 20px;
    margin-top: 5px;
}
.tebd .superwork-input-field, .tebd .superwork-input .yty-search {
    background-color: rgba(255,255,255,.3)
}
.tebd .superwork-input-item {
    background-color: rgba(255,255,255,0)
}
.tebd .superwork-input .yty-search {
    background-image: url( "../images/img/search_icon_b.png")
}
 .tebd .superwork-input input::-webkit-input-placeholder {
 color:#fff;
}
 .tebd .superwork-input input::-moz-placeholder {   /* Mozilla Firefox 19+ */
 color:#fff;
}
 .tebd .superwork-input input:-moz-placeholder {    /* Mozilla Firefox 4 to 18 */
 color:#fff;
}
 .tebd .superwork-input input:-ms-input-placeholder {  /* Internet Explorer 10-11 */
 color:#fff;
}
/**浮窗加倒计时播报**/
.timefc {
    /*position: fixed;*/
    /*right: 20px;*/
    /*bottom: 200px;*/
    position: fixed;
    right: 20px;
    bottom: 210px;
    z-index: 99;
}
.timefc .pn {
    position: relative
}
.timefc .cos {
    position: absolute;
    right: -4px;
    top: -4px;
    z-index: 10;
    width: 20px;
    height: 20px;
}
.timefcs {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: #e00003;
    width: 130px;
    margin: 0 auto;
    font-size: 13px;
    color: #fff;
    line-height: 14px;
    padding: 5px 0px;
    font-weight: 700;
}
.timefcs b {
    margin-bottom: 4px;
    margin-left: 4px;
}
.timefcs span {
    margin-right: 2px;
    border-radius: 2px;
}
.ggimg img {
    width: 100%;
    border: 0px;
    display: block
}
.ggimg {
    position: absolute;
    width: 100%;
}
.timefcsd {
    position: absolute;
    text-align: center;
    background-color: #e00003;
    width: 150px;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    padding: 5px 0px;
    font-weight: 700;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 3%
}
.timefcsd b {
    margin-bottom: 4px;
    margin-left: 4px;
}
.timefcsd span {
    margin-right: 4px;
    border-radius: 2px;
}
.czjz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: Center;
}
.timefcsd.dd {
    background-color: transparent;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
    transform: scale(0.8)
}
.timefcsd.dd span {
    color: #fff;
    background-color: #e00003;
    font-size: 26px;
    line-height: 26px;
    padding: 4px 2px;
}
.timefcsd.dd p {
    margin: 0px auto;
    font-size: 12px;
    line-height: 14px;
    margin: 0px auto;
}
.timefcsd.dd .dds {
    background-color: #e00003;
    padding: 3px 4px;
    margin-right: 6px;
    width: 50px;
    margin-left: 1%;
}
.timefcsd.dd .ddz {
    font-size: 12px;
    margin-top: 0px;
}

/**热链组件**/
.rlbq{margin: 10px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    background-color: transparent;}
.rlbq a{font-size: 12px;
    color: #3d4145;
    background-color: #f5f5f5;
    padding: 6px 15px;
    border: 0px;
    border-radius: 100px;
    margin: 0px 5px 9px 0px;display: inline-block;}

/**页卡组件**/
.mg-order {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    padding: 4px 0px 0px 0px;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.mg-order a {
    display: block;
    flex: 1;
    text-align: center;
    color: #777;
    line-height: 34px;
    font-size: 14px;
}
.mg-order a p {
     width: 25%;
    height: 4px;
    background-color: #fdc800;
    text-align: center;
    margin: 0 auto;
    display: none
}
.mg-order a.on {
    font-size: 14px;
    line-height: 34px;
    color: #000
}
.mg-order a.on p {
    display: block
}
/**免单**/
.md-g{background-color: #fff;width: 100%;color: #fff;padding:0px 20px;font-size: 12px; color:#999; }
		.md-b{ display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;background-color: #ff1414;color: #fff; padding:8px 10px;border-radius: 100px;margin:10px 10px 6px 10px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1414+0,d81e1e+50,f6290c+51,f02f17+71,e73827+100 */
background: #ff1414; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ff1414 0%, #d81e1e 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ff1414 0%,#d81e1e 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ff1414 0%,#d81e1e 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1414', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



		
		}
		 
		.md-b .d{font-size:14px;margin-left:8px;}
		.md-b a{margin: 0px 8px;color: #fff;}
		.md-dy{font-size: 14px;}.md-dy .weui-vcode-btn{font-size: 14px;}
		.md-dy .weui-label{width: 80px}
		.md-dy .weui-cell{padding: 10px 0px;}
		.md-dy .weui-cell.weui-cell_vcode{padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;}
 
.md-p .qieimg.boximgsizing{position: relative}
.md-p .qieimg.boximgsizing .quan{font-size: 13px;line-height: 13px; position: absolute;right: 0;bottom: 0;display: block;width: 100%;border-radius: 0px;background-color:rgba(224, 0, 3, 0.75);padding:4px 6px;}

